#root {
  max-width: 1280px;
  margin: auto auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.App{
  margin: 20px 0;
}
input{
  width: 75%;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 200;
}
label{
  font-size: 1.5rem;
}